<div id="<%= dom_id admin %>">

<h2 class="display-4 text-center mt-4"><%= admin.company_name %></h2>
  <div>
    <p>
      <strong>Name:</strong>
      <%= @charity.name %>
    </p>
    <p>
      <strong>Website:</strong>
      <%= @charity.website %>
    </p>
    <p>
      <strong>Email:</strong>
      <%= @charity.email %>
    </p>
    <p>
      <strong>Profile:</strong>
      <%= @charity.profile %>
    </p>
    <p>
      <strong>Charity no:</strong>
      <%= @charity.charity_no %>
    </p>
    <p>
      <strong>Address:</strong>
      <%= @charity.address %>
    </p>
    <p>
      <strong>Mission:</strong>
      <%= @charity.mission %>
    </p>
    <p>
      <strong>Vision:</strong>
      <%= @charity.vision %>
    </p>
    <p>
      <strong>Values:</strong>
      <%= @charity.values %>
    </p>
    <p>
      <strong>Target group:</strong>
      <%= @charity.target_group %>
    </p>
    <p>
      <strong>Services:</strong>
      <%= @charity.services %>
    </p>
    <p>
      <strong>Accepted items:</strong>
      <%= @charity.accepted_items %>
    </p>
  </div>

</div>
